/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  height: 100%;
}
.container .text-muted {
  margin: 20px 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.grid {
  grid-template-columns: 50% 50%;
  display: grid;
  overflow: hidden;
  height: 120px;
  width: 300px;
  position: fixed;
  border-radius: 10px;
}

.left {
  background: #31A1EC;
  opacity: .9;
}

.right {
  background: #898673;
  opacity: .9;
}
