.button-align {
  padding-left: 83%;
  padding-top: 1%;
}

.plain-text {
  padding: 2%;
}

li {
  list-style-type: none;
}

a {
  color: #484549;
}



.container {
  margin: 10px;
  width: 100%;
  max-width: 100%;
}

.left {
  background: #31A1EC;
  opacity: .9;
}

.right {
  background: #898673;
  opacity: .9;
}

.text {
  position: relative;
  text-align: center;
  padding: 30px;
  font-family: fantasy;
}

/*top page styling*/
.sidebar {

  display: inline-block;
  min-height: 100%;
  position: relative;
}

.clickable {
  color: #0088cc;
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

#governor-hidden, #depGov-hidden, #senator-hidden, #mp1-hidden, #mp2-hidden,
#womanRep-hidden, #mca1-hidden, #mca2-hidden, #mca3-hidden, #mca4-hidden,
#mca5-hidden, #mca6-hidden{
  display: none;
}


/*bottom page styling*/
.grid {
  grid-template-columns: 50% 50%;
  display: grid;
  overflow: hidden;
  height: 120px;
  width: 300px;
  position: fixed;
  border-radius: 10px;
}

.pad {
  padding: 35%;
}

.jumbotron {
  background-color: #32A0CE;
}
